#image-gallery {
   border-style: solid;
   margin-top: 7%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

#romance {
    border-right: 3px solid black
}

#drama {
    border-right: 3px solid black
} 

#development {
    border-right: 3px solid black
}

h1 {
    text-align: center; 
}

h3 {
    text-align: center;
    font-family: Raleway;
}

figure {
    text-align: center;
}

figcaption {
    font-size: .75em;
    font-style: italic;
}

body a {
    float: right;
    font-family: Raleway;
    color:black;
}


