body {
    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    font-weight: 500;
    text-align: left;
    padding: 15px;
}

address {
    text-align: center;  
    color: #4F3674;

}

.school-name {
    text-align: center;  
    color: #4F3674;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.location {
    color: black;
    font-style: sans serif;
}

address a {
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

address a:hover {
   background-color: #D6A800;
}

address a:visited {
    color: purple;
}

.intro {
    text-indent: 2em;
}

.sentence {
    font-style:italic;
}